

<div 
style=" border: 1px solid black; border-radius: 50%;margin-left: auto; position: relative; top: 0.5rem; right: 2rem; width:30px; height: 30px; display: flex; cursor: pointer;" 
title="Example: Previous State = up and Error = timeout and status code 0, represents The moment when the URL when from up to down (Or in this case didn´t responde on the time passed as parameter). On the other hand, Previous State = down and Error = No Error and status code 200, represents the moment when the URL when from down to up "
onclick="toggleInfoTable()"
>
<i class="fas fa-info" style="margin: auto;" ></i>
</div>
<div class="blurb" id="infotable" style="display: none;"><p>Example: Previous State = up and Error = timeout and status code 0, represents the moment when the URL when from up to down (Or in this case didn´t responde on the time passed as parameter).</p> 
  <br>
<p >On the other hand, Previous State = down and Error = No Error and status code 200, represents the moment when the URL went from down to up.</p></div>

<div class="form__wrapper">
  <a class="backButton border" href="/checks/all">Back</a>
</div>
<h1 class="title">{head.title}</h1>
<h2 class="subtitle">{head.description}</h2>

<hr />
<div class="tableWrapper">
<table class="{clase.url}" id="checksListTable">
  <tr>
    <th>Date</th>
    <th>Previous State</th>
    <th>Error</th>
    <th>Response Code</th>
  </tr>
  <tr id="noChecksMessage">
    <td colspan="4">No log History for this url!</td>
  </tr>

</table>
</div>
